@font-face {
    font-family: "SHPinscher";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("fonts/SHPinscher-Regular.otf") format("truetype");
}

@font-face {
    font-family: "MonaspaceKrypton";
    src: url("fonts/MonaspaceKrypton-SemiBold.woff");
}

.flipbook .odd{
	background-image:-webkit-linear-gradient(left, #FFF 95%, #ddd 100%);
	background-image:-moz-linear-gradient(left, #FFF 95%, #ddd 100%);
	background-image:-o-linear-gradient(left, #FFF 95%, #ddd 100%);
	background-image:-ms-linear-gradient(left, #FFF 95%, #ddd 100%);
}

.flipbook .even{
	background-image:-webkit-linear-gradient(right, #FFF 95%, #ddd 100%);
	background-image:-moz-linear-gradient(right, #FFF 95%, #ddd 100%);
	background-image:-o-linear-gradient(right, #FFF 95%, #ddd 100%);
	background-image:-ms-linear-gradient(right, #FFF 95%, #ddd 100%);
}

